/* Root Variables */
:root {
    --primary-color: #4E47FF;
    --secondary-color: #e4e6ff;
    --main-bg-color: #f6f8ff;
    --text-primary-color: #8987A1;
}

/* Base Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
}


/* Reusable Classes */

section {
    margin: 80px 140px;
}

h1 {
    font-size: 54px;
    text-align: center;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 0;
}

.flex-col {
    flex-direction: column;
}

.jus-cen {
    justify-content: center;
}

.align-cen {
    align-items: center;
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 38px;
    color: black;
}

p {
    font-size: 22px;
    color: var(--text-primary-color);
    font-weight: 300;
}

a {
    text-decoration: none;
    font-size: 24px;
}

.btn {
    padding: 10px 26px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 0 0 auto;
    display: inline-block;
    align-self: flex-start;

}

.btn:hover {
    background-color: #0056b3;
}


/* Header */

/* Navbar */
nav ul {
    padding: 0 124px;
    margin: 0 auto;
    justify-content: space-between;
    height: 140px;
}

nav ul li {
    padding: 10px 12px;
}

#nav-logo {
    color: var(--primary-color);
    font-size: 34px;
    font-weight: 700;
}

.hero-wrapper {
    background: url('/Assets/Hero-bg.png') no-repeat center center/cover;
    height: 600px;
}

.hero-sec {
    gap: 24px;
}

#hero-btn {
    align-self: center;
}


/* Sections */
/* Action Section */
.sec-action {
    justify-content: space-between;
}

.action-div {
    gap: 16px;
    width: 40%;
}

.action-img {
    border-radius: 30px;
    overflow: hidden;
}

/* Data Section */
.sec-data {
    background-color: var(--secondary-color);
    border-radius: 24px;
    overflow: hidden;
    padding: 64px 72px;
}

.sec-data h2 {
    text-align: center;
    margin-bottom: 12px;
}

.data-box {
    display: block;
    gap: 8px;
}

.data-box h3 {
    color: var(--primary-color);
    font-size: 56px;
    font-weight: 600;
}

.data-box p {
    font-size: 20px;
    font-weight: 300;
}

.sec-2-con {
    justify-content: space-around;
}

/* Section Ready */

.sec-ready {
    background-color: white;
    gap: 28px;
}

.sec-ready-div {
    gap: 12px;
}

.simple-p {
    font-size: 16px;
}
.ready-btn {
    align-self: center;
}


/* User Review */

.users-main-con {
    justify-content: space-between;
}
.rev-h2 {
    text-align: center;
    margin: 42px 0;
}

.user-data-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.sec-box {
    gap: 10px;
    background-color: white;
    padding: 32px 36px;
    border-radius: 18px;
    width: 32%;
}

.sec-box h4 {
    font-size: 18px;
    font-weight: 500;
}

.user-box-con {
    gap: 10px;
}

.user-av {
    border-radius: 50%;
    width: 60px;
}

.user-data-box h5 {
    font-size: 14px;
    font-weight: 500;
}
.user-data-box p {
    font-size: 12px;
    font-weight: 300;
}


/* Form */
 form {
    margin: 0 auto;
    width: 300px;
    font-family: Arial, sans-serif;
}

.form-title {
    font-size: 52px;
    font-weight: 500;
    display: block;
}

    
label {
    display: block;
    margin-top: 15px;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 130%;
    padding: 14px 10px 14px 18px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000;
}

input::placeholder,
textarea::placeholder {
  font-size: 18px; 
  color: #888;
  font-family: 'Roboto', sans-serif;
}

.form-btn {
    margin: 8px 0;
    width: 100%;
}


/* Footer */
footer {
    gap: 12px;
    background-color: white;
    padding: 72px 0;
}

.logo-main {
    font-size: 48px;
    color: var(--primary-color);
    font-weight: 600;
}

#logo-p {
    font-size: 18px;
    font-weight: 300;
    color: var(--text-primary-color);
}

.foot-links {
    padding: 6px 8px;
    font-size: 16px;
    font-weight: 300;
    color: var(--text-primary-color);
}


/* The End */